*{
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid grey;

}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  height: 100vh;
}

.nav {
  min-width: 20%;
  max-width: 20%;
  background: black;
  color: #fff;
  transition: all 0.3s;
}

.main-content{
  width: 80%;
  height: 100vh;

}

.navbar {
  width: 100%;
}
