*{
  box-sizing: border-box;
  
  background-color: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  height: 85vh;
  overflow: scroll;
}

h3,h4,h6,i{
  color: white;
}

i{
  padding-right: 10px;
}

p{
  font-size: 12px;
  color: rgba(127, 127, 127, 0.4);
}

a{
  font-size: 13px;
  line-height: 35px;
  color: rgba(127, 127, 127, 0.4);
}

/* proprietà barra di sinistra */
.nav {
  min-width: 16%;
  max-width: 16%;
  color: #aaaaaa;
  transition: all 0.3s;
  padding-left: 17px;
border-left: 3px solid transparent;
}
/* proprietà corpo centrale pagina */
.main-content{
  width: 84%;
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
}
/* proprietà barra alta */
.navbar {
  color: #aaaaaa;
  width: 100%;
  height: 15vh;
}
/* propretà parte alta del corpo centrale */
#covers{
margin: 0 auto;
background: #131822;
}

/* prop. contenitore con foto playlist & album */

.list-group-item{
  width: calc(100% / 6);
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  background-color: transparent;
}

.photo-album{
  width: 180px;
  height: 180px;
}

/* parte sinistra player audio (barra in basso) */
#albumtizio{
  width: 50px;
  height: 50px;
}

.album-img{
  display: flex;
  align-items: stretch;
  overflow: scroll;
}
